<ion-header>
  <ion-toolbar>
    <ion-title>Clasament</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="has-header has-subheader">
  <ion-list>
    <ion-item *ngFor="let user of this.userService.users | async; let i=index">
      <ion-label slot="start" class="clasament-index">{{ i + 1 }}.</ion-label>
      <ion-avatar slot="start">
        <img src="../../../assets/images/default-profile-picture1.jpg">
      </ion-avatar>
      <ion-label class="user-name">
        <h3>{{ user.firstName + ' ' + user.lastName }}</h3>
      </ion-label>
      <ion-label slot="end" class="user-points"><p>{{ i + 1 * 10 }} points</p></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
