.section-title {
  margin-left: 10px;
  color: #0f47c0;
  margin-bottom: 0;
}

.section-description {
  margin-left: 35px;
}

.facebook-page {
  text-decoration: none;
  color: black;
}

.avatar {
  margin: auto;
  width: 130px;
  height: 130px;
  margin-top: 20px;
}