<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="section-title">Microday</h3>
  <p class="section-description">v. 1.0</p>

  <h3 class="section-title">Contact us</h3>
  <p class="section-description">Email: microdaysrl@gmail.com</p>

  <h3 class="section-title">Information</h3>
  <p class="section-description">Această pagină este destinată îmbunătățirii productivității in sarcinile pe care le întreprindeți pentru a ajunge la un scop sau venit mai mare.</p>

  <h3 class="section-title">Help</h3>
  <p class="section-description">Send feedback/suggestion</p>

  <h3 class="section-title">Social</h3>
  <a class="section-description facebook-page" href="https://www.facebook.com/Microday-100180884989718/" target="_blank">Facebook</a>
  <br>
  <a class="section-description facebook-page" href="https://www.youtube.com/channel/UCf_H4svvyG4hoJttBH7U4nA" target="_blank">Youtube</a>
</ion-content>
